@font-face {
    font-family: 'Cybernetyka';
    src: url('../fonts/Cybernetyka.eot');
    src: url('../fonts/Cybernetyka.woff2') format('woff2'),
        url('../fonts/Cybernetyka.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CybernetykaNormal';
    src: url('../fonts/CybernetykaNormal.woff') format('woff'),
        url('../fonts/CybernetykaNormal.ttf') format('truetype'),
        url('../fonts/CybernetykaNormal.svg#CybernetykaNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,html{
    padding: 0px;
    margin: 0px;
}

body {
    background: url(../img/fondo.jpg) no-repeat 100% 0 fixed;
    background-position: 50% 50%;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
}

header{
    text-align: center;
}

#logo{
    margin-top: 10px;
}

#titulo{
    color: #FBFCFC;
    letter-spacing: 10px;
    font-family: Cybernetyka;
}


#containerForm{
    border-radius: 15px;
    padding: 5px 0;
    background-color: rgba(46,44,41,0.7);
}

#formulario{
    padding: 0% 3% 0% 3%;
}

h3{
    color: #E4C049;
    text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: Cybernetyka;
}

h4{
    color: #FBFCFC;
    font-size: 20px;
}

#containerBtn{
    margin-top: 10px;
    bottom: 10%;
    position: relative;
    text-align: center;
}

#containerBtn a{
    opacity: 0.8;
}

#containerBtn a:hover{
    opacity: 1;
    transition: 0.3s;
}