@font-face {
    font-family: 'Cybernetyka';
    src: url('../fonts/Cybernetyka.eot');
    src: url('../fonts/Cybernetyka.woff2') format('woff2'),
        url('../fonts/Cybernetyka.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CybernetykaNormal';
    src: url('../fonts/CybernetykaNormal.woff') format('woff'),
        url('../fonts/CybernetykaNormal.ttf') format('truetype'),
        url('../fonts/CybernetykaNormal.svg#CybernetykaNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,html{
    margin: 0px;
}

body {
    background: url(../img/fondo.jpg) no-repeat 100% 0 fixed;
    background-position: 50% 50%;
    background-size: cover;
}

#logo{
    text-align: center;
    padding-top: 10%;
}

.menu{
    text-align: center;
    position: fixed;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #333;
    width: 100%
}

.menu a{
    color: #E4C049;
    cursor: pointer;
    font-family: Cybernetyka;
    font-size: 15px;
    letter-spacing: 5px;
    //margin: 0px 10px;
    padding: 8px 8px;
    text-decoration: none;

    //font-size: 15px;
    //display: block;
    margin: 0px;    
}

#inicio,#info,#ubicacion,#about{
    display: block;
}

.menu a:before, .menu a:after{
    display: none;
}

#menuMovil{
    display: block;
}

#titulo{
    color: #FBFCFC;
    font-family: Cybernetyka;
    font-size: 10vmin;
    letter-spacing: 0.15em;
    margin-top: 10px;
}

#containerInfo,#containerUbicacion,#containerAbout{
    display: none;
    margin: 0 15%;
}

h2{
    color: #FBFCFC;
    font-family: Cybernetyka;
    margin: 0 2%;
    letter-spacing: 0.15em;
}

#containerBtn{
    text-align: center;
}

#containerBtn a{
    opacity: 0.8;
}

#containerBtn a:hover{
    opacity: 1;
    transition: 0.3s;
}

.menu a#info, .menu a#ubicacion, .menu a#about{
    display: none;
} 

.menu a#menuMovil{
    display: block;
    position: absolute;
}

#menuMovil{  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
